/* =============
   Section 2
============= */

#section-2 {
   margin-bottom: 100px;

   >#container-1 {
      margin-bottom: 50px;

      >h1 {
         font-family: 'Vollkorn SC', serif;
         font-size: remcalc(60);
         text-align: center;
         color: $green;
      }
   }

   >#container-2 {
      background-image: url("../img/section-2/hiking.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;

      display: grid;

      >div {
         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: remcalc(60);
            color: $white;
            background-color: $lightgreen;
            padding-left: 50px;
         }

         >h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: remcalc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 50px;

         }
      }
   }

   >#container-3 {
      background-image: url("../img/section-2/ziplining.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;

      display: grid;

      >div {
         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: remcalc(60);
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 50px;
         }

         >h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: remcalc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            padding-left: 50px;
         }
      }
   }

   >#container-4 {
      background-image: url("../img/section-2/archery.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;

      display: grid;

      >div {
         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: remcalc(60);
            color: $white;
            background-color: $lightgreen;
            padding-left: 50px;
         }

         >h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: remcalc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 50px;
         }
      }
   }

   >#container-5 {
      background-image: url("../img/section-2/fishing.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;

      display: grid;

      >div {
         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: remcalc(60);
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 50px;
         }

         >h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: remcalc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            padding-left: 50px;
         }
      }
   }

   >#container-6 {
      background-image: url("../img/section-2/campfire_jam.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;

      display: grid;

      >div {
         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: remcalc(60);
            color: $white;
            background-color: $lightgreen;
            padding-left: 50px;
         }

         >h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: remcalc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 50px;
         }
      }
   }
}