/* =============
   Section 4
============= */

#section-4 {
   margin-bottom: 100px;

   >#container-1 {
      >h1 {
         font-family: "Trattatello", cursive;
         font-size: remcalc(60);
         text-align: center;
         color: $green;
      }
   }

   >#container-2 {
      >div {
         >h2 {
            font-family: "Trattatello", cursive;
            font-size: remcalc(36);
            color: $green;
         }

         >h3 {
            font-family: 'Gill Sans', sans-serif;
            font-size: remcalc(21);
            color: $green
         }
      }
   }

   >#container-3 {
      >div {
         >h3 {
            font-family: 'Gill Sans', sans-serif;
            font-size: remcalc(21);
            color: $green
         }
      }
   }

   >#container-4 {
      >div {
         >h3 {
            font-family: 'Gill Sans', sans-serif;
            font-size: remcalc(21);
            color: $green
         }
      }
   }

   >#container-5 {
      >div {
         >h3 {
            font-family: 'Gill Sans', sans-serif;
            font-size: remcalc(21);
            color: $green
         }
      }
   }

   >#container-6 {
      >div {
         >h3 {
            font-family: 'Gill Sans', sans-serif;
            font-size: remcalc(21);
            color: $green
         }
      }
   }
}