/* =============
   Section 1
============= */

#section-1 {
   margin-bottom: 100px;

   >#container-1 {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: ". header .";
      display: grid;
      background-image: url("../img/section-1/hero.png");
      background-position: center;
      background-size: cover;
      height: 400px;
      margin-bottom: 50px;


      >h1 {
         grid-area: header;
         font-family: 'Vollkorn SC', serif;
         font-size: rem-calc(60);
         text-align: center;
         color: $white;
         margin: auto;
      }
   }

   >#container-2 {
      margin-bottom: 50px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      display: grid;
      grid-template-areas: "climbing jam friends zone";


      >div {
         margin: 10px 10px 0;
         display: flex;
         align-items: center;

         >h3 {
            background-color: $lightgreen;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(21);
            font-weight: bold;
            text-align: center;
            color: $white;
            width: 100%;
         }
      }

      >#climbing {
         grid-area: climbing;
         background-image: url("../img/section-1/climbing_jacksons_peak.png");
         background-position: center;
         background-size: cover;
         height: 225px;
      }

      >#jam {
         grid-area: jam;
         background-image: url("../img/section-1/campfire_jam_home.png");
         background-position: center;
         background-size: cover;
         height: 225px;
      }

      >#friends {
         grid-area: friends;
         background-image: url("../img/section-1/make_new_friends.png");
         background-position: center;
         background-size: cover;
         height: 225px;
      }

      >#zone {
         grid-area: zone;
         background-image: url("../img/section-1/comfort_zone.png");
         background-position: center;
         background-size: cover;
         height: 225px;
      }

      @media screen and (max-width: 700px) {
         display: grid;
         grid-template-columns: 10% auto 10%;
         grid-template-areas:
         " . climbing . "
         " . jam . "
         " . friends . "
         " . zone . ";
        
        >div{
         margin: 10px 0;
         width: 225px;
        }

      }



   }

   >#container-3 {
      display: grid;
      grid-template-columns: 20% auto 20%;
      grid-template-areas:
         ". history ."
         ". stuff ."
         ". more .";
      margin-bottom: 50px;

      >h1 {
         grid-area: history;
         font-family: 'Vollkorn SC', serif;
         color: $green;
         font-size: rem-calc(48);
         text-align: center;
         margin-bottom: 22px;
      }

      >p {
         grid-area: stuff;
         font-family: 'Montserrat', sans-serif;
         color: $green;
         font-size: rem-calc(21);
         text-align: center;
         margin-bottom: 50px;
      }

      .button {
         grid-area: more;
         font-family: 'Vollkorn SC', serif;
         color: $darkgreen;
         font-size: rem-calc(36);
         text-align: center;
         background-color: $orange;
         border-radius: 8px;
         width: 310px;
         height: 40px;
         padding-top: 10px;
         margin: 0 auto;
         cursor: pointer;
         -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
         -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
         transition: all .25s ease;
      }
      .button:hover{
         background-color: $lightgreen;
      }
   }

   >#container-4 {
      display: grid;
      background-image: url("../img/section-1/slideshow_photo.png");
      background-position: center;
      background-size: cover;
      height: 400px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      >div {
      background-image: url("../img/section-1/play-button.png");
      background-position: center;
      margin: 50px 0;
      background-repeat: no-repeat;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

         >h1 {
            font-family: 'Vollkorn SC', serif;
            color: $darkgreen;
            font-size: rem-calc(48);
            text-align: center;

         }
      }
   }
}
