/* =============
   Section 2
============= */

#section-2 {
   margin-bottom: 100px;

   >#container-1 {
      margin-bottom: 50px;

      >h1 {
         font-family: 'Vollkorn SC', serif;
         font-size: rem-calc(60);
         text-align: center;
         color: $green;
      }
   }

   >#container-2 {
      background-image: url("../img/section-2/hiking.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;
   }

   >#container-3 {
      background-image: url("../img/section-2/ziplining.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;
   }

   >#container-4 {
      background-image: url("../img/section-2/archery.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;
   }

   >#container-5 {
      background-image: url("../img/section-2/fishing.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;
   }

   >#container-6 {
      background-image: url("../img/section-2/campfire_jam.png");
      background-position: center;
      background-size: cover;
      height: 300px;
      margin-bottom: 50px;
   }

   >.title-right {
      >.title {
         position: relative;
         margin-left: 20%;

         >aside {
            position: absolute;
            top: 47px;
            left: 0;

         }

         >h1 {
            position: absolute;
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(60);
            color: $white;
            background-color: $lightgreen;
            padding-left: 100px;
            margin-left: 50px;
            width: 80%;
            white-space: nowrap;
            top: 40px;
            right: 0;

            @media screen and (max-width: 780px) {
               font-size: rem-calc(50);
               top: 50px;
               width: 70%;
               padding-left: 100px;
               padding-right: 50px;
            }
            @media screen and (max-width: 690px) {
               font-size: rem-calc(40);
               top: 60px;
               width: 60%;
            }
            @media screen and (max-width: 550px) {
               font-size: rem-calc(30);
               top: 70px;
               padding-left: 125px;
               padding-right: 25px ;
            }
            @media screen and (min-width: 1150px) {
               width: 85%;
            }
         }

      }

      >.tagline {
         position: relative;
         margin-right: 30%;

         >h2 {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding: 0 50px;
            top: 180px;
            width: 80%;
            left: 0;

            @media screen and (max-width: 560px) {
               font-size: rem-calc(19);
            }


         }
      }
   }

   >.title-left {
      position: relative;

      >.title {
         position: relative;
         margin-right: 20%;


         >aside {
            position: absolute;
            top: 47px;
            right: 0;
         }

         >h1 {
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(60);
            color: $white;
            background-color: $lightgreen;
            text-align: right;
            padding-right: 100px;
            margin-right: 50px;
            position: absolute;
            width: 80%;
            white-space: nowrap;
            top: 40px;

            @media screen and (max-width: 780px) {
               font-size: rem-calc(50);
               top: 50px;
               width: 70%;
               padding-right: 100px;
               padding-left: 50px;
            }

            @media screen and (max-width: 690px) {
               font-size: rem-calc(40);
               top: 60px;
               width: 60%;
            }

            @media screen and (max-width: 550px) {
               font-size: rem-calc(30);
               top: 70px;
              padding-right: 125px;
               padding-left: 25px ;
            }
             @media screen and (min-width: 1150px) {
               width: 85%;
            }
         }
      }

      >.tagline {
         position: relative;
         margin-left: 30%;

         >h2 {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(21);
            font-weight: 400;
            color: $white;
            background-color: $lightgreen;
            text-align: left;
            padding: 0 50px;
            top: 180px;
            width: 80%;
            right:0;

            @media screen and (max-width: 560px) {
               font-size: rem-calc(19);
            }

         }
      }
   }
}