/* =============
   Section 3
============= */
#section-3 {
   margin: 0 5% 100px;


   >#container-1 {
      margin-bottom: 62px;

      >h1 {
         font-family: 'Vollkorn SC', serif;
         font-size: rem-calc(60);
         text-align: center;
         color: $green;
      }

      >h4 {
         font-family: 'Montserrat', sans-serif;
         font-size: rem-calc(20);
         text-align: center;
         color: $green;
      }
   }


   >.staff-left {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
         "photo name"
         "photo hometown"
         "photo hometown"
         "photo info";


      >aside {
         grid-area: photo;
         margin-right: 20px;
      }

      >div {
         >h2 {
            grid-area: name;
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(36);
            color: $green;
         }

         >h3 {
            grid-area: hometown;
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(21);
            color: $green;
         }

         >h5 {
            grid-area: info;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(18);
            color: $green;
         }
      }

      @media screen and (max-width: 780px) {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-areas: 
         "photo"
         "name"
         "hometown"
         "hometown"
         "info";

         >aside{
            text-align: center;
         }

      }
   }

   >.staff-right {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
         "name photo"
         "hometown photo"
         "hometown photo"
         "info photo";

      text-align: right;

      >aside {
         grid-area: photo;
         margin-left: 20px;
      }

      >div {
         >h2 {
            grid-area: name;
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(36);
            color: $green;
         }

         >h3 {
            grid-area: hometown;
            font-family: 'Vollkorn SC', serif;
            font-size: rem-calc(21);
            color: $green;
         }

         >h5 {
            grid-area: info;
            font-family: 'Montserrat', sans-serif;
            font-size: rem-calc(18);
            color: $green;
         }
      }

      @media screen and (max-width: 780px) {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-areas: 
         "photo"
         "name"
         "hometown"
         "hometown"
         "info";

         text-align: left;

         >aside{
            text-align: center;
         }

      }
   }
}