/* =============
    Footer
============= */
#footer {
    background-color: $orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;

    >#container-1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "logo place"
            "logo location";

        >#logo {
            grid-area: logo;
            padding: 5px;
            
            >#camp{
                height:100px;
            }
        }

        >#place {
            grid-area: place;
        }

        >#location {
            grid-area: location;
        }

        >div {
            >h4 {
                font-family: 'Vollkorn SC', serif;
                font-size: rem-calc(18);
                color: $green;
            }
        }
    }

    #container-2 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "contact follow follow"
            "contact insta face";

        >#contact {
            grid-area: contact;
        }

        >#follow {
            grid-area: follow;
        }

        >#instagram {
            grid-area: insta;
            text-align: center;
        }

        >#facebook {
            grid-area: face;
            text-align: center;
        }

        >div {
            >h4 {
                font-family: 'Vollkorn SC', serif;
                font-size: rem-calc(18);
                color: $green;
                text-align: center;
            }
        }
    }
    }
