/* =============
    Header
============= */

#header {

    >nav {
        >ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

            >li {
                font-family: 'Vollkorn SC', serif;
                font-size: remcalc(16);
                color: $darkgreen;
                text-align: center;

                >#logo{
                 height: 105px;
                 padding: 10px;
                }
            }

           

        }
    }
}
